<div class="page page-tables-bootstrap" ng-init="getMycategories()">




    <!-- page header -->
    <div class="pageheader">

        <h2>{{ 'Menu.CATEGORIES' | translate}} <span>// {{page.subtitle | translate}}</span></h2>

        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{ 'Menu.VERYLINX' | translate}}</a>
                </li>
                <li>
                    <a href="javascript:;">{{ 'Menu.PROGRAMS' | translate}}</a>
                </li>
                <li>
                    <a ui-sref="app.">{{ 'Menu.CATEGORIES' | translate}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /page header -->






    <!-- page content -->
    <div class="pagecontent">


        <!-- row -->
        <div class="row">


            <!-- col -->
            <div class="col-md-12">



                <!-- tile -->
                <section class="tile" fullscreen="isFullscreen01">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><strong>{{'Menu.CATEGORIES' | translate}} </strong> </h1>

                        <ul class="controls">
                            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a href tile-control-toggle>
                                            <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                                            <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href tile-control-refresh ng-click="ajaxFaker()">
                                            <fa name="refresh"></fa> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                                            <fa name="expand"></fa> Fullscreen
                                        </a>
                                    </li>
                                    <li>
                                        <a href tile-control-lightbox>
                                            <fa name="magnet"></fa> Open in Lightbox
                                        </a>
                                    </li>


                                </ul>

                            </li>
                            <li>
                                <md-button class="md-raised " style="margin: 2px 8px;" ng-click="AddCategory($event)">{{'Menu.ADD' | translate}} </md-button>
                            </li>

                        </ul>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body p-0" ng-if="record">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th ng-bind="'Panel.COMPANY_NAME' | translate">კომპანიის დასახელება</th>
                                <th ng-bind="'Panel.CATEGPRY_NAME' | translate">კატეგორიის დასახელება</th>
                                <th ng-bind="'Panel.CATEGORY_ID' | translate">კატეგორიის ID</th>
                                <th ng-bind="'Panel.CPA' | translate">CPA</th>
                                <th ng-bind="'Panel.CPA_PRICE' | translate">CPA ფასი</th>
                                <th ng-bind="'Panel.CPL' | translate">CPL</th>
                                <th ng-bind="'Panel.CPL_PRICE' | translate">CPL ფასი</th>
                                <th ng-bind="'Panel.STATUS' | translate">სტატუსი</th>
                                <th ng-bind="'Panel.EDIT' | translate">რედაქტირება</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="c in  records" ng-class="c.status=='accept'? 'green':'red'">
                                <td ng-bind="c.id" style="line-height: 38px;"></td>
                                <td ng-bind="c.companyName" style="line-height: 38px;"></td>
                                <td ng-bind="c.catname" style="line-height: 38px;"></td>
                                <td ng-bind="c.mycatid" style="line-height: 38px;"></td>
                                <td ng-bind="c.cpa" style="line-height: 38px;"></td>
                                <td ng-bind="(c.cpatype=='fixed')?'ფიქსირებული':'პროცენტი'" style="line-height: 38px;"></td>
                                <td ng-bind="c.cpl" style="line-height: 38px;"></td>
                                <td ng-bind="(c.cpltype=='fixed')?'ფიქსირებული':'პროცენტი'" style="line-height: 38px;"></td>
                                <td ng-bind="c.status" style="line-height: 38px;"></td>
                                <td ><md-button class="md-raised" ng-if="1==2" ng-click="EditCategories($event,c)">რედაქტირება</md-button></td>
                            </tr>

                            </tbody>
                        </table>

                    </div>
                    <!-- /tile body -->
                    <div class="row" ng-if="!record">
                        <center> <h3 ng-bind="'Panel.RECORD_NOT_FOUND' | translate">ჩანაწერი არ მოიძებნა</h3></center>
                    </div>

                </section>
                <!-- /tile -->



                <!-- /tile -->


            </div>
            <!-- /col -->
        </div>
        <!-- /row -->






    </div>
    <!-- /page content -->




</div>
<script type="text/ng-template" id="AddCategory.html">
    <md-dialog style="width:80%; max-width:800px;">
        <form ng-cloak>
            <md-dialog-content class="p-30 code-content" >
                <h3>{{'Rep.ADD_CATEGORY' | translate}} </h3>
                <form >
                    <div class="form-group">

                        <label for="sel1" ng-class="error.cid.color=='red'? 'red':''">{{'Rep.COMPANY' | translate}}</label>

                        <md-select ng-model="selectedCompany" md-selected-text="getSelectedCompany()">
                            <md-optgroup label="{{'Rep.COMPANY' | translate}}" >
                                <md-option ng-value="c" ng-repeat="c in companies">{{c.companyName}}</md-option>
                            </md-optgroup>
                        </md-select>
                        <span class="red" ng-bind="error.cid.error"> </span>
                    </div>
                    <div class="form-group">

                        <label for="sel1" ng-class="error.catid.color=='red'? 'red':''">{{'Rep.CATEGORY' | translate}}</label>
                       <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                            <md-optgroup label="{{c.name}}" ng-repeat="c in categories">
                                <md-option ng-value="s" ng-repeat="s in c.sub">{{s.name}}</md-option>
                            </md-optgroup>
                        </md-select>
                        <span class="red" ng-bind="error.catid.error"> </span>
                    </div>
                    <!--div class="form-group">

                        <label for="sel1" ng-class="error.mycatid.color=='red'? 'red':''">კატეგორიის იდენტიფიკატორი(category id):</label>
                        <input type="text" placeholder="" class="form-control" ng-model="mycatid">
                        <span class="red" ng-bind="error.mycatid.error"> </span>
                    </div-->
                    <div class="form-group" ng-if="selectedItem.pay=='cpl' || selectedItem.pay=='all'">
                        <div class="col-md-12"> <label for="lead">{{'Rep.CPL_PRICE' | translate}}:  <span class="pull-right"><sup>*</sup> <span ng-bind="price.cpltype?'ფასი მიუთითეთ ლარში':'მიუთითეთ პროცენტი'"></span></span></label></div>
                        <div class="col-md-8 p-0">
                            <input type="text" placeholder="ex. 2%" class="form-control" ng-model="price.cpl">
                        </div>
                        <div class="col-md-4">
                            <md-checkbox ng-model="price.cpltype">
                                {{'Rep.FIXED_PRICE' | translate}}
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="form-group" ng-if="selectedItem.pay=='cpa' || selectedItem.pay=='all'">
                        <div class="col-md-12"><label for="sale">{{'Rep.CPA_PRICE' | translate}}:  <span class="pull-right"><sup>*</sup> <span ng-bind="price.cpatype?'ფასი მიუთითეთ ლარში':'მიუთითეთ პროცენტი'"></span></span></label> </div>
                        <div class="col-md-8 p-0">
                            <input type="text"  placeholder="ex. 2%" class="form-control"  ng-model="price.cpa">
                        </div>
                        <div class="col-md-4 ">
                            <md-checkbox ng-model="price.cpatype">
                                {{'Rep.FIXED_PRICE' | translate}}
                            </md-checkbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="red" ng-bind="error.general.error"> </span>
                        <center>
                            <md-button class="md-raised md-default" ng-click="cancel()">{{'Rep.CANCEL' | translate}}</md-button>
                            <md-button class="md-raised md-primary" ng-click="accept()">{{'Rep.ACCEPT' | translate}}</md-button>
                        </center>
                    </div>
                </form>
            </md-dialog-content>

        </form>
    </md-dialog>
    <style>
        .form-control{
            font-family: inherit;
        }
    </style>
</script>