<div class="page page-tables-bootstrap" ng-init="GetBanners()">




    <!-- page header -->
    <div class="pageheader">

        <h2>{{'Menu.CATEGORIES' | translate}} <span>// </span></h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{'Menu.VERYLINX' | translate}}</a>
                </li>
                <li>
                    <a href="javascript:;">{{'Menu.PANEL' | translate}}</a>
                </li>
                <li>
                    <a ui-sref="app.tables.bootstrap">{{'Menu.BANERS' | translate}}</a>
                </li>
            </ul>

        </div>

    </div>
    <!-- /page header -->






    <!-- page content -->
    <div class="pagecontent">


        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-md-12">


                <!-- tile -->
                <section class="tile" fullscreen="isFullscreen07">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font"><!--span ><strong>Advanced</strong> Table</span-->&nbsp;</h1>
                        <ul class="controls">
                            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li>
                                        <a href tile-control-toggle>
                                            <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                                            <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href tile-control-refresh ng-click="ajaxFaker()">
                                            <fa name="refresh"></fa> Refresh
                                        </a>
                                    </li>
                                    <li>
                                        <a href tile-control-fullscreen ng-click="isFullscreen07 = !isFullscreen07">
                                            <fa name="expand"></fa> Fullscreen
                                        </a>
                                    </li>
                                    <li>
                                        <a href tile-control-lightbox>
                                            <fa name="magnet"></fa> Open in Lightbox
                                        </a>
                                    </li>

                                </ul>

                            </li>
                            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
                        </ul>
                    </div>
                    <!-- /tile header -->

                    <!-- tile widget -->
                    <div class="tile-widget">

                        <div class="row">

                            <div class="col-sm-5">

                            </div>

                            <div class="col-sm-3"></div>

                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" class="input-sm form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button">Go!</button>
                  </span>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- /tile widget -->

                    <!-- tile body -->
                    <div class="tile-body p-0">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th style="width:20px;">
                                        <label class="checkbox checkbox-custom checkbox-custom-sm m-0">
                                            <input type="checkbox" ng-model="selectedAll" ng-change="selectAll()"><i></i>
                                        </label>
                                    </th>
                                    <th ng-bind="'Panel.ID' | translate">id </th>
                                    <th ng-bind="'Panel.NAME' | translate">დასახელება </th>
                                    <th ng-bind="'Panel.COMPANY' | translate">კომპანია</th>
                                    <th ng-bind="'Panel.CATEGORIES' | translate">კატეგორია</th>
                                    <th ng-bind="'Panel.SIZE_NAME' | translate" style="width:200px;">ზომის დასახელება</th>
                                    <th ng-bind="'Panel.SIZE' | translate">ზომა</th>
                                    <th ng-bind="'Panel.STATUS' | translate">სტატუსი</th>
                                    <th ng-bind="'Panel.VIEW' | translate" >ნახვა</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in users.slice(((bigCurrentPage-1)*itemsPerPage), ((bigCurrentPage)*itemsPerPage))">
                                    <td><label class="checkbox checkbox-custom checkbox-custom-sm m-0"><input type="checkbox" ng-model="user.selected"><i></i></label></td>
                                    <td>{{user.id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.cname}}</td>
                                    <td>{{user.catname}}</td>
                                    <td>{{user.sizename}} </td>
                                    <td>{{user.sname}}</td>
                                    <td style="color:{{user.color}}" >{{user.status}}</td>
                                    <td><a href="" ng-click="editcompany($event,user)" class="m-0 icon icon-success icon-ef-3 icon-ef-3b icon-color" style="width: 32px;height: 32px;"><i class="fa fa-edit" style="line-height: 33px;font-size: 17px;"></i></a></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <!-- /tile body -->

                    <!-- tile footer -->
                    <div class="tile-footer dvd dvd-top">
                        <div class="row">

                            <div class="col-sm-5 hidden-xs">

                            </div>

                            <div class="col-sm-3 text-center">
                                <small class="text-muted"></small>
                            </div>

                            <div class="col-sm-4 text-right">
                                <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></uib-pagination>
                            </div>

                        </div>
                    </div>
                    <!-- /tile footer -->

                </section>
                <!-- /tile -->


            </div>
            <!-- /col -->
        </div>
        <!-- /row -->






    </div>
    <!-- /page content -->
</div>
<script type="text/ng-template" id="company.tmpl.html">
    <md-dialog >
        <form ng-cloak>

            <md-dialog-content class="p-30 code-content gray-bg" >
                <form name="" layout="column" >
                    <div class="form-group">
                        <label>{{'Rep.COMPANY' | translate}}</label>
                        <select class="form-control"  ng-model="banner.company" ng-class="(error.company.color == 'red')? 'b-red':'' " ng-change="com_id()">
                            <option value="" selected>'Rep.CHOOSE_COMPANY' | translate</option>
                            <option value="{{c.id}}" ng-repeat="c in companies">{{c.companyName}}</option>

                        </select>
                        <span class="px-12 left red" ng-bind="error.company.error"></span>

                    </div>
                    <div class="form-group">
                        <label>{{'Rep.CATEGORY' | translate}}</label>
                        <select class="form-control" id="sel1" ng-model="banner.category" ng-class="(error.category.color == 'red')? 'b-red':'' ">
                            <option value="" >{{'Rep.CHOSE_CATEGORY' | translate}}</option>
                            <option value="{{c.catid}}" ng-repeat="c in categories ">{{c.catname}}</option>

                        </select>
                        <span class="px-12 left red" ng-bind="error.category.error"></span>

                    </div>
                    <div class="form-group">
                        <label>{{'Rep.BANNER_NAME' | translate}}</label>
                        <input type="text" ng-model="banner.name" class="form-control"  placeholder="{{'Rep.BANNER_NAME' | translate}}" ng-class="(error.name.color=='red')? 'b-red':'' " >
                        <span class="px-12 left red" ng-bind="error.name.error"></span>
                    </div>
                    <div class="form-group">
                        <label>{{'Rep.URL' | translate}}</label>
                        <input type="text"  class="form-control"  placeholder="{{'Rep.URL' | translate}}" ng-class="(error.redirecUri.color=='red')? 'b-red':'' " ng-model="banner.redirecUri">
                        <span class="px-12 left red" ng-bind="error.redirecUri.error"></span>
                    </div>
                    <div class="form-group">
                        <lf-ng-md-file-input ng-class="(error.files.color=='red')? 'b-red':'' " lf-files="file" lf-api="api" lf-required lf-maxcount="1"  lf-filesize="150MB" lf-totalsize="150MB" lf-mimetype="image/jpeg,image/png"  drag preview progress  lf-drag-and-drop-label="ჩააგდეთ ფაილი" lf-browse-label="მონიშნეთ ფაილი..." lf-remove-label="ფაილის წაშლა"> </lf-ng-md-file-input>
                        <span class="px-12 left red" ng-bind="error.files.error"></span>
                    </div>
                    <div class="form-group">
                        <label>{{'Rep.STATUS' | translate}}</label>
                        <select class="form-control"  ng-model="banner.status" ng-class="(error.status.color == 'red')? 'b-red':'' " ng-change="com_id()">
                            <option value="" >{{'Rep.STATUS' | translate}}</option>
                            <option value="active" >{{'Rep.ACTIVE' | translate}}</option>
                            <option value="pending" >{{'Rep.PENDING' | translate}}</option>
                            <option value="pasive" >{{'Rep.PASIVE' | translate}}</option>
                        </select>
                        <span class="px-12 left red" ng-bind="error.status.error"></span>
                    </div>
                </form>

            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="cancel()">
                    {{'Rep.CANCEL' | translate}}
                </md-button>
                <md-button ng-click="save()">
                    {{'Rep.SAVE' | translate}}
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</script>
