<div class="page page-dashboard">

    <div class="pageheader">

        <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
                </li>
                <li>
                    <a ui-sref="app.dashboard">{{page.title}}</a>
                </li>
            </ul>

            <div  class="page-toolbar">
                <a href="javascript:;" class="btn btn-lightred no-border"  daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                </a>
            </div>

        </div>

    </div>

    <!-- cards row -->
    <div class="row">

        <!-- col -->
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-greensea">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <i class="fa fa-usd fa-4x"></i>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-bind="transaction.sum"></p>
                            <span>Total actions</span>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
                <div class="back bg-greensea">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
            </div>
        </div>
        <!-- /col -->

        <!-- col -->
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-lightred">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <i class="fa fa-usd fa-4x"></i>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-bind="transaction.decline"></p>
                            <span>Cancelled</span>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
                <div class="back bg-lightred">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
            </div>
        </div>
        <!-- /col -->

        <!-- col -->
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-blue">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <i class="fa fa-usd fa-4x"></i>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-bind="transaction.pending"></p>
                            <span>Pending</span>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
                <div class="back bg-blue">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
            </div>
        </div>
        <!-- /col -->

        <!-- col -->
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-slategray">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <i class="fa fa-usd fa-4x"></i>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-8">
                            <p class="text-elg text-strong mb-0" ng-bind="transaction.accept"></p>
                            <span>Approved</span>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
                <div class="back bg-slategray">

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-cog fa-2x"></i> Settings</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                        </div>
                        <!-- /col -->
                        <!-- col -->
                        <div class="col-xs-4">
                            <a href=javascript:;><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                        </div>
                        <!-- /col -->
                    </div>
                    <!-- /row -->

                </div>
            </div>
        </div>
        <!-- /col -->

    </div>
    <!-- /row -->






    <!-- row -->
    <div class="row">



        <!-- col -->
        <div class="col-md-8">

            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen01">

                <!-- tile header -->
                <div class="tile-header bg-greensea dvd dvd-btm">
                    <h1 class="custom-font"><strong>შემოსავლის</strong> გრაფიკი</h1>
                    <ul class="controls">
                        <!--li ng-controller="DaterangepickerCtrl">
                            <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
                            </a>
                        </li-->
                        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                            <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a href tile-control-toggle>
                                        <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                                        <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-refresh ng-click="ajaxFaker()">
                                        <fa name="refresh"></fa> Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                                        <fa name="expand"></fa> Fullscreen
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-lightbox>
                                        <fa name="magnet"></fa> Open in Lightbox
                                    </a>
                                </li>

                            </ul>

                        </li>
                        <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <!-- /tile header -->

                <!-- tile widget -->
                <div class="tile-widget bg-greensea" >

                    <flot dataset="dataset" options="options" height="250px"></flot>

                </div>
                <!-- /tile widget -->

                <!-- tile body -->
                <div class="tile-body" >

                    <!-- row -->
                    <div class="row">


                        <!-- col -->
                        <div class="col-md-8 col-sm-12">

                            <h4 class="underline custom-font mb-20"><strong>Actual</strong> Statistics</h4>

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-lg-4 text-center">
                                    <div easypiechart options="easypiechart.options" percent="easypiechart.percent" class="easypiechart" style="width: 140px; height: 140px;">
                                        <i class="fa fa-usd fa-4x text-blue" style="line-height: 140px;"></i>
                                    </div>
                                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-blue" ng-bind="report.max"></strong> <small class="text-lg text-light text-default lt">₾</small></p>
                                    <p class="text-light"><i class="fa fa-caret-up text-success"></i> მაქსიმალური</p>
                                </div>
                                <!-- /col
                                <!-- col -->
                                <div class="col-lg-4 text-center">
                                    <div easypiechart options="easypiechart2.options" percent="easypiechart2.percent" class="easypiechart" style="width: 140px; height: 140px;">
                                        <i class="fa fa-eye fa-4x text-lightred" style="line-height: 140px;"></i>
                                        <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-lightred" ng-bind="report.avg"></strong> <small class="text-lg text-light text-default lt">₾</small></p>
                                        <p class="text-light"><i class="fa fa-caret-down text-warning"></i> საშუალო</p>
                                    </div>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-lg-4 text-center">
                                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart" style="width: 140px; height: 140px;">
                                        <i class="fa fa-user fa-4x text-greensea" style="line-height: 140px;"></i>
                                        <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea" ng-bind="report.my"></strong> <small class="text-lg text-light text-default lt">₾</small></p>
                                        <p class="text-light"><i class="fa fa-caret-down text-danger"></i> ჩემი თანხა</p>
                                    </div>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                        <!-- /col -->


                        <!-- col -->
                        <!--div class="col-md-4 col-sm-12">

                            <h4 class="underline custom-font"><strong>Visitors</strong> Statistics</h4>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">America</div>
                                    <div class="description">visitor from america</div>
                                </div>
                                <div class="status pull-right">
                                    <span>40</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="40" type="dutch"><b>40%</b></uib-progressbar>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">Europe</div>
                                    <div class="description">visitor from europe</div>
                                </div>
                                <div class="status pull-right">
                                    <span>38</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="38" type="greensea"><b>38%</b></uib-progressbar>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">Asia</div>
                                    <div class="description">visitor from asia</div>
                                </div>
                                <div class="status pull-right">
                                    <span>12</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="12" type="lightred"><b>12%</b></uib-progressbar>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">Africa</div>
                                    <div class="description">visitor from africa</div>
                                </div>
                                <div class="status pull-right">
                                    <span>7</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="7" type="blue"><b>7%</b></uib-progressbar>
                            </div>

                            <div class="progress-list">
                                <div class="details">
                                    <div class="title">Other</div>
                                    <div class="description">visitor from other</div>
                                </div>
                                <div class="status pull-right">
                                    <span>6</span>%
                                </div>
                                <div class="clearfix"></div>
                                <uib-progressbar class="progress-xs not-rounded" value="6" type="hotpink"><b>6%</b></uib-progressbar>
                            </div>

                        </div-->
                        <!-- /col -->


                    </div>
                    <!-- /row -->

                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->

        </div>
        <!-- /col -->



        <!-- col -->
        <div class="col-md-4">

            <!-- tile -->
            <section class="tile" fullscreen="isFullscreen02" >

                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Browser </strong>Usage</h1>
                    <ul class="controls">
                        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                            <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a href tile-control-toggle>
                                        <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                                        <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-refresh ng-click="ajaxFaker()">
                                        <fa name="refresh"></fa> Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                                        <fa name="expand"></fa> Fullscreen
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-lightbox>
                                        <fa name="magnet"></fa> Open in Lightbox
                                    </a>
                                </li>

                            </ul>

                        </li>
                        <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <!-- /tile header -->

                <!-- tile widget -->
                <div class="tile-widget">
                    <flot dataset="donutdataset" options="donutoptions" height="250px"></flot>
                </div>
                <!-- /tile widget -->

                <!-- tile body -->
                <div class="tile-body p-0">

                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group is-open="status.tab1.open" class="panel-transparent">
                            <uib-accordion-heading>
                                <span ng-class="{'text-default lt': !status.tab1.open}"><i class="fa text-sm mr-5" ng-class="{'fa-minus': status.tab1.open, 'fa-plus': !status.tab1.open}"></i> დეტალები</span><span class="badge pull-right bg-lightred">3</span>
                            </uib-accordion-heading>
                            <table class="table table-no-border m-0">
                                <tbody>
                                <tr ng-repeat=" c in company track by $index">
                                    <td ng-bind="$index+1"></td>
                                    <td ng-bind="c.companyName"></td>
                                    <td ng-bind="c.sum"></td>
                                    <td><i class="fa fa-caret-up text-success"></i></td>
                                </tr>

                                </tbody>
                            </table>
                        </uib-accordion-group>

                    </uib-accordion>

                </div>
                <!-- /tile body -->

            </section>
            <!-- /tile -->

        </div>
        <!-- /col -->


    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-md-12">
            <section class="tile" fullscreen="isFullscreen01">

                <!-- tile header -->
                <div class="tile-header dvd dvd-btm">
                    <h1 class="custom-font"><strong>Morris.js </strong>Charts</h1>
                    <ul class="controls">
                        <li>
                            <md-select  class="m-0" ng-model="selectedItem" md-selected-text="getSelectedText()">
								<md-optgroup  >
                                    <md-option ng-value="0" >ყველა კატეგორია</md-option>
                                </md-optgroup>
                                <md-optgroup label="{{c.name}}" ng-repeat="c in categories">
                                    <md-option ng-value="s" ng-repeat="s in c.sub">{{s.name}}</md-option>
                                </md-optgroup>
                            </md-select>
                        </li>
                        <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                            <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                <li>
                                    <a href tile-control-toggle>
                                        <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                                        <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-refresh ng-click="ajaxFaker()">
                                        <fa name="refresh"></fa> Refresh
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                                        <fa name="expand"></fa> Fullscreen
                                    </a>
                                </li>
                                <li>
                                    <a href tile-control-lightbox>
                                        <fa name="magnet"></fa> Open in Lightbox
                                    </a>
                                </li>

                            </ul>

                        </li>
                        <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
                    </ul>
                </div>
                <!-- /tile header -->

                <!-- tile body -->
                <div class="tile-body">
                <!-- row -->
                    <div class="row">
                      <h4 class="custom-font"></h4>
                        <div  morris-bar-chart
                              bar-data='areaData'
                              bar-xkey='name'
                              bar-ykeys='["my", "other"]'
                              bar-labels='["ჩემი შემოსავალი", "სხვა პაბლიშერების საშუალო შემოსავალი"]'
                              bar-colors='["#ff4a43","#1693A5"]' style="height: 250px"></div>

                    </div>

                </div>
            </section>

        </div>

    </div>




</div>
